@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

*, *::before,*::after{
  box-sizing: border-box;
}
body{
  background-color: #fff;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  /* background-image: url(".\CEAT-Banner_Desktop.jpeg"); */
  /* line-height: 1.42857143; */
  /* font-size: 16px; */
  display: flex;
  flex-direction: column;
}
.brand_logo{
  display: flex;
  justify-content: left;
}

.nav-grow{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 7px;
}

.reg{
  display: flex;
  /* flex-flow: row wrap; */
  /* justify-content: flex-end; */
  margin-left: auto;
}

.register{
  font-size: 14px;
  font-weight: bold;
  font-family: "Rajdhani";
  width: 85px;
  height: 25px;
  margin-left: 50px;
  color: #673EB6;
  background-color: white;
  cursor: pointer;
  clip-path: 
  polygon(
    0% 0px,                 /* top left */
    20px 0%,                 /* top left */
    calc(100% - 110px) 0%,    /* top right */
    100% 70px,               /* top right */
    100% calc(100% + 20px),  /* bottom right */
    calc(100% - 20px) 100%,  /* bottom right */
    95px 100%,               /* bottom left */
    0 calc(100% - 95px)      /* bottom left */
  );
  border-width: 1px 1px;
  border-color: #673EB6;
  margin-top: 15px;
}

.register:hover{
  background-color: #673EB6;
  color: #fff;
}
.menu{
  margin-top: 5px;
  margin-left: 10px;
}

.BB{
 
  background-color: #EFF3F6;
 }
 

.desk{
  display: flex;
  flex-direction: column;
  background-color: #EFF3F6;
  justify-content: center;
  /* margin-top: 30rem; */
}

.nic{
  /* display: flex; */
  background-image: url("./assets/CEAT-Banner_Desktop.jpeg");
  background-position: top;
  background-repeat: no-repeat;
  height: 30rem;
  /* width: 120rem; */
  z-index: 1;
}

.imggrp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-left: 15rem; */
  /* margin-top: -25rem; */
  /* z-index: 2; */
}
.game_series{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
#Logo_Desktop{
  display: flex;
  width: 20rem; 
  align-items: center;
  justify-content: center;
}

.img{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.game{
position: relative;
}
.plat{
  display: flex;
  justify-content: center;
  font-size: 10px;
  color: #fff;
}
.zoink{
  position: relative;
  margin-left: 5rem;
}

.life{
  display: flex;
  justify-content: center;
  color: #fff;
  /* align-items: center; */
  font-size: 10px;
  margin-left: 5rem;
}

.play{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.PlayNow{
  font-size: 30px;
  font-family: "Rajdhani";
  width: 250px;
  height: 75px;
  /* margin-left: 50px; */
  font-weight: bold;
  
  color: white;
  background-color: #673EB6;
  clip-path: 
  polygon(
    0% 0px,                 /* top left */
    20px 0%,                 /* top left */
    calc(100% - 32px) 0%,    /* top right */
    100% 32px,               /* top right */
    100% calc(100% + 20px),  /* bottom right */
    calc(100% - 20px) 100%,  /* bottom right */
    30px 100%,               /* bottom left */
    0 calc(100% - 30px)      /* bottom left */
  );
  border-width: 1px 1px;
  border-color: #673EB6;
  
  z-index: inherit;
  margin-top: -2rem;
} 


.Nickb{
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 5rem 10rem;
  overflow: hidden;
  max-width: 100;
  justify-content: center;
  /* align-items: center; */
  /* background-color: #fff; */
}

.rect{
  background-color: #fff;
    
    border-radius: 4px;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 1rem;;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.start{
  font-family: "Rajdhani";
  letter-spacing: 1px;
  font-size: 25px;
  font-weight: 800;
  align-items: center;
  color: #673EB6;
}

.startsec{
  display: flex;
}

.grp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.int{
  display: flex;
  flex-direction: row;
  font-size: 25px;
  color: #04061B;
  /* justify-content: space-around; */
  padding: 0 2.5rem;
}

.str{
  display: flex;
  flex-direction: row;
  font-size: 18px;
  color: #673EB6;
  /* justify-content: space-around; */
  padding: 0 2rem;
}

.basic{
  display: flex;
  flex-direction: column;
  background-color:#EFF3F6;
  text-align: center;
  min-height: 64vh;
}


.TOURNAMENT{
  font-size: 50px;
  font-weight: 900;
  font-family: "Rajdhani";
}

.GameCardimages{
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
}

.GameCard1{ 
    margin-bottom: 32px;
    width:140px;
    height: 140px;
    clip-path: 
    polygon(
      0% 0px,                 /* top left */
      20px 0%,                 /* top left */
      calc(100% - 20px) 0%,    /* top right */
      100% 25px,               /* top right */
      100% calc(100% + 20px),  /* bottom right */
      calc(100% - 20px) 100%,  /* bottom right */
      20px 100%,               /* bottom left */
      0 calc(100% - 20px)      /* bottom left */
    );
}

.GameCard2{
    margin-left: 50px; 
    width:200px;
    height: 200px;
    clip-path: 
    polygon(
      0% 0px,                 /* top left */
      20px 0%,                 /* top left */
      calc(100% - 20px) 0%,    /* top right */
      100% 25px,               /* top right */
      100% calc(100% + 20px),  /* bottom right */
      calc(100% - 20px) 100%,  /* bottom right  #6F25FF; */
      20px 100%,               /* bottom left */
      0 calc(100% - 20px)      /* bottom left */
    );
}

.Region-div{
  flex-direction: row;
  align-items: center;
  margin-top: 7vh;
}

.Region-btn{
  flex-direction: row;
  flex-grow: 1;
  padding: 15px;
  color:white;
  background-color: #6F25FF;
  min-height: 70px;
  min-width: 100px;
  border-radius: 7px;
  border: none;
  font-weight: 700;
}

 
.triangle-right {
  padding-left: 20px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid white;
  border-bottom: 5px solid transparent;
  border-right: none;
}

.triangle-left {
  padding-right: 20px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 10px solid white;
  border-bottom: 5px solid transparent;
}

.Leaderboard_button_gap{
  margin-top: -6vh;
  min-height: 14vh;
  background-color: white;
}

.Leaderboard_blocks{
  display: flex;
  flex-direction: column;
  text-align: center;
}

#Scoreboardno{
  margin-top: none;
  align-items: center;
}

#Scoreboard_no{
  width: 80%;
  text-align: center;
}

#Scoreboard_gap{
  margin-top: 2vh;
}

.Squares{
  display: flex;
  justify-content: center;
}

.square {
  width: 6.5px;
  height: 6.5px;
  background: #CDCBD0;
  margin: 0.3rem;
}